body {
    font-family: cursive;
    background: ghostwhite;
}

ul {
    width: 400px;
    display: inline-block;
}

ul li {
    border: 1px outset black;
    list-style: none;
    height: 40px;
    background: white;
}

li span {
    width: 65px;
    float: right;
    background: #2c4355;
    color: white;
    text-align: center;
    margin-right: 5px;
    margin-top: 4px;
    padding-bottom: 8px;
    border-radius: 50px;
    height: 20px;
    font-size: 18px;
    border: 2px dimgrey outset;
}

li span:active {
    border: 2px red inset;
    color: red;
}

li span:hover, input[type=submit]:hover {
    cursor: pointer;
}

li p {
    font-size: 18px;
    display: inline-block;
    top: -12px;
    position: relative;
    padding-left: 5px;
}

li:hover {
    background: rgba(0, 131, 255, 0.12);
}

.edit {
    background: dodgerblue;
}

form {
    width: 350px;
}

#addForm {
    float: left;
    margin-left: 50px;
    top: 20px;
}

#deleteForm {
    display: none;
}

input {
    height: 40px;
}

.width {
    width: 300px;
}

input[type=submit] {
    margin-top: 20px;
    background: dodgerblue;
    border-radius: 50px;
    font-size: 18px;
}

#editForm {
    margin: auto;
    opacity: 0;
}

a p {
    display: inline-block;
    float: right;
    margin-right: 60px;
    text-decoration: underline;
    color: red;
    font-weight: bold;
}